@using final_project.ViewModels

@model StudentTeacherListsVM
@{
    ViewData["Title"] = "ShowAllStudents";
}

<h1>All Students </h1>

<table class="table table-hover table-bordered">
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>password</th>
        <th>phone Number</th>
        <th>Address</th>
        <th>Courses</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.password</td>
            <td>@item.phoneNumber</td>
            <td>@item.addres</td>
            <td>
                @if (item.Enrollments != null && item.Enrollments.Any())
                {
                    <span>@item.Enrollments.Count()</span>
                    <a asp-controller="Admin" asp-action="ShowStudentCourses" asp-route-id="@item.Id" class="btn btn-link">View</a>
                }
                else
                {
                    <span>No Courses</span>
                }
            </td>
            <td>
                <form asp-action="DeleteStudent" asp-controller="Admin" asp-route-studentId="@item.Id" method="post" onsubmit="return confirm('Are you sure?');" style="display:inline-block">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a asp-action="EditStudent" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/createStudent" class="btn btn-success">Add Student</a>

<hr />

<h1>All Teachers </h1>

<table class="table table-hover table-bordered">
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>password</th>
        <th>phone Number</th>
        <th>Address</th>
        <th>Courses Teached</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Teachers)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.password</td>
            <td>@item.phoneNumber</td>
            <td>@item.addres</td>
            <td>
                @if (item.Courses != null && item.Courses.Any())
                {
                    <span>@item.Courses.Count()</span>
                    <a asp-controller="Admin" asp-action="ShowTeacherCourses" asp-route-id="@item.Id" class="btn btn-link">View</a>
                }
                else
                {
                    <span>No Courses</span>
                }
            </td>
            <td>
                <form asp-action="DeleteTeacher" asp-controller="Admin" asp-route-Id="@item.Id" method="post" onsubmit="return confirm('Are you sure?');" style="display:inline-block">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a asp-action="EditTeacher" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/creatTeacher" class="btn btn-success">Add Teacher</a>
